<div class="row row-cinza-claro">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="logotipo" src="../img/petcare_logo.png" alt="Logotipo">
            </div>
            <div class="col-md-10 col-red">
                <div class="row row-cols">
                    <div class="col-md-4 col-popular-post">
                        <h4>Popular Post</h4>
                        <ul class="list-unstyled">
                            <li>
                                <h5>Lorem ipsum dolor sit amet</h5>
                                <time>January 01, 2017</time>
                            </li>
                            <li>
                                <h5>Lorem ipsum dolor sit amet</h5>
                                <time>January 01, 2017</time>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-links">
                        <h4>LINKS</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" name=""></i>Info
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" name=""></i>News
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-angle-right" name=""></i>Projetos Sociais
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-get-in-touch">
                        <h4>GET IN TOUCH</h4>
                        <address>
                            <i class="fa fa-map-marker"></i><span>Rua Beltrano, 618, Vila Maria<br> Paracatu, MG 38600-000</span>
                        </address>

                        <p><a href="tel:+55389991003255"><i class="fa fa-phone"></i>+55 38-99100-3255</a></p>

                        <ul class="list-unstyled list-socials">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-spotify"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-cinza-escuro">
    <div class="container">
        <p class="pull-left">Copyright © PetCare Foundation 2017. All rights reserved.</p>
        <p class="pull-right text-roxo">Created by fnsc</p>
    </div>
</div>

